<div class=m-5>
    <h1>I'm Augustine Calvino</h1>
    <h3>I am a versitile software engineer.</h3>
    <p>I love challenging myself to learn new technologies, hence this little project with Ruby on Rails on Heroku. It is not my actual portfolio, hence why this is kinda bear-bones.</p>
    <p>Head over to my actual portfolio at <a href='https://augustinecalvino.dev/about'>augustinecalvino.dev/about</a> to really learn about me.</p>
</div>
