/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.social_media li {
    display: inline-block;
    width: auto;
    padding: .5rem
}

.social_media li a {
    color: black;
}

.navbar a {
    font-weight: bold;
    font-size: 1rem;
    color: black;

    padding: .5rem;

    &:hover {
        text-decoration: underline;
    }
}

.jumbotron {
    background: image-url("computer.jpg") center center;
    background-size: cover;
    min-height: 600px;
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;

    .container {
        margin: 80px auto;
    }

    h2 {
        color: #fff;
        font-size: 48px;
        line-height: 56px;
        text-align: right;

        .highlight {
            background-color: #eaeff4;
            color: #000;
            padding: 0 10px 0;
        }
    }

    a.btn {
        background-color: rgba(0,0,0,0.9);
        border-radius: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        height: 60px;
        line-height: 60px;
        margin: 40px 0;
        padding: 0;
        transition: background-color .5s;
        width: 200px;
        float: right;

        &:hover {
            background-color: #cc6cff;
            color: #fff;
            transition: background-color .5s;
        }
    }

}
